<nav>
	<ul>
		<li><a href="./">будинки</a></li>
		<li><a href="./diet.html">дієта</a></li>
		<li><a href="./physical-activity.html">Pфізичної активності</a></li>
		<li><a href="./risk-factors.html">фактори ризику</a></li>
		<li><a href="./references.html">References</a></li>
	</ul>
</nav>