---
title: Diet
---
<%= partial "nav" %>
<!-- Add your site or application content here -->
<h1><%= current_page.data.title %></h1>
<p>жа при ІХС повинна бути насичена солями магнію і бідна кухонною сіллю . Солі магнію запобігають утворенню жирів в організмі.</p>
<p>Необхідно включати в раціон більше продуктів, що містять поліненасичені жирні кислоти. Бажано присутність висівок, які сприяють виведенню холестерину з організму.</p>
<p>В обміні жирів важливу роль відіграє вітамін В6.</p>
<p>Йод стимулює розщеплення жирів. Полісахариди (складні вуглеводи) знижують ризик виникнення тромбів, регулюють жировий обмін.</p>
<p>Солі калію виключно благотворно впливають на функцію м'яза серця і кровообіг в цілому.</p>
<p>Отже, на яких продуктах повинна базуватися дієта людини з ІХС?</p>
<p>Щотижня намагайтеся вживати такі продукти:</p>
<p>хліб, пластівці або рис - 6-8 порцій</p>
<p>свіжі фрукти - 2-4 порції</p>
<p>свіжі або морожені овочі - 3-5 порцій</p>
<p>нежирне молоко, йогурт, сир - 2-3 порції</p>
<p>нежирне м'ясо, птиця, риба або квасоля - 2-3 порції.</p>
<p>Для готування використовуйте оливкову олію. Воно містить монопредельние жири зі зниженим рівнем холестерину. З риби віддайте перевагу лососеві, макрелі, озерної форелі, оселедця, сардині і длинноперий тунця. Вміщені в них омега-3 жирні кислоти сприяють зниженню рівня певних жирів у крові.</p>
<p>На сніданок переважно крупи, фрукти та цільнозерновий хліб.</p>
<p>На обід до м'яса додайте овочі або салат. Соєві продукти, квасолю, нут, листовий салат сприяють зниженню рівня холестерину.</p>
<p>Як десерт виберіть нежирний йогурт, фрукти. Максимально відмовтеся від солодкого.</p>
<p>Більше їжте горіхів з високим рівнем монопредельних жирів: волоський горіх, кешью, пекан, мигдаль, фундук і австралійський горіх. Але не варто ними зловживати, оскільки вони хоч і корисні, але дуже жирні.</p>
<p>Відмовтеся від куріння. Це дуже важливо. І не забудьте, що пасивне куріння, жувальний тютюн і сигари однаково шкідливі.</p>
<p>Якщо ви вживаєте алкоголь, зведіть його споживання до мінімуму. Допустимі 1-2 порції на тиждень. Це не стосується людей з проблемами зі здоров'ям. Їм має сенс взагалі відмовитися від спиртних напоїв.
Гіподинамія.</p>
<p>Людині з ІХС просто необхідно займатися якимись вправами хоча б 30 хвилин в день. Фізична активність допоможе знизити кров'яний тиск, а також, разом з дієтою, контролювати вагу. Вітаються піші прогулянки, заняття аеробікою, плаванням, їзда на велосипеді. Роботу серцево-судинної системи може поліпшити проста швидка ходьба.</p>
<p>Однак не починайте занять без консультації лікаря.</p>
<p>Ожиріння</p>
<p>Надлишки у вазі - це завжди додаткове навантаження на серце, судини. Тут найчастіше присутня підвищений артеріальний тиск і підвищена ймовірність захворювання на діабет. У такому випадку настійно рекомендується дієта з пониженим вмістом жирів. Будь-яку програму зі зниження ваги здійснюйте правильно, тобто під наглядом фахівця.</p>
<p>Гіпертонія</p>
<p>У цьому випадку просто необхідний курс лікування від вашого лікаря. Першорядні завдання при цьому захворюванні - це дієта зі зниженим рівнем солі, фізичні вправи і своєчасний прийом виписаних лікарем ліків.</p>
<p>Діабет</p>
<p>Характеризується закупорками і атеросклерозом кров'яних судин, в коронарних артеріях в тому числі. Контролювання цього захворювання сприяє зниженню ризику появи ІХС.</p>
</p>