---
title: Home
---
<%= partial "nav" %>
<!-- Add your site or application content here -->
<h1>будинки</h1>
<h2>Abstract</h2>
<p>This campaign focused on encouraging Eastern European men in Northeast Philadelphia, aged 50-60  to increase their physical activity and being more mindful of their dietary patterns in an effort to reduce risk factors for Cardiovascular Disease which most frequently is diagnosed in this group, distinct in it’s age and gender.</p>
<h2>абстрактний</h2>
<p>Ця кампанія спрямована на підвищення відповідальності чоловіків у Північно-східній Філадельфії, у віці 50-60 збільшити свою фізичну активність і бути більш уважними їх раціон харчування в зусилля щодо зниження факторів ризику серцево-судинних захворювань які найбільш часто діагностується в цій групі, відмінною в його віці і статі.</p>
<%= partial "counter" %>
