---
title: Physical Activity
---
<%= partial "nav" %>
<!-- Add your site or application content here -->
<h1>Pфізичної активності</h1>
<p>Как физическая активность влияет на здоровье?
<p>Низкая физическая активность наряду с курением, избыточной массой тела, повышенным содержанием холестерина в крови и повышенным артериальным давлением, является «универсальным» и независимым фактором риска целого ряда хронических заболеваний, на который можно воздействовать.
<p>Многие заболевания (сердечно-сосудистые, обменные, заболевания опорно-двигательной системы и т.д.) могут быть отнесены не к болезням возраста, а к болезням недостатка регулярной тренирующей двигательной активности.
<ol>Польза физической активности
	<li>Улучшение дыхания<br>
	При физической активности повышается потребность в кислороде, тренируется система доставки кислорода. В дальнейшем, при регулярных занятиях, ткани и органы человека лучше снабжаются кислородом и в состоянии покоя.
	<li>Улучшение состояния сердечно-сосудистой системы<br>
	Сердце тренируется работать эффективнее (прокачивает большее количество крови при каждом ударе, пульс становится медленнее); уменьшается риск образования тромбов; снижается уровень холестерина, уменьшается риск атеросклероза, ишемической болезни сердца, артериальной гипертонии.</li>
	<li>Улучшение состояния опорно-двигательного аппарата: 
		<ul>
			<li>увеличение мышечной силы, выносливости;</li>
			<li>улучшение гибкости;</li>
			<li>укрепление костной ткани, улучшение подвижности суставов;</li>
			<li>снижение скорости возрастной потери костного кальция у пожилых людей O снижение скорости развития остеопороза.</li>
		</ul>
	<li>Улучшение работы других органов: 
		<ul>
			<li>стимуляция перистальтики кишечника P предотвращение запоров и геморроя;</li>
			<li>снижение глюкозы в крови, повышение чувствительности к инсулину P уменьшение риска развития сахарного диабета;</li>
		</ul>
	</li>
</ol>