---
title: References
---
<%= partial "nav" %>
<!-- Add your site or application content here -->
<h1><%= current_page.data.title %></h1>
<p>Diet page:  <a href=”http://ubeautys.ru/page/diyeta-pri-ishemichnij-hvorobi-sercja-ihs”>http://ubeautys.ru/page/diyeta-pri-ishemichnij-hvorobi-sercja-ihs</a></p>
 
<p>Physical activity: <a href=”http://wayoflife.dp.ua/fizychne-aktyvnist/vplyv-fizychnoji-aktyvnosti-na-zdorovji/”>http://wayoflife.dp.ua/fizychne-aktyvnist/vplyv-fizychnoji-aktyvnosti-na-zdorovji/</a></p>

<p>Risk factors: <a href=”http://www.poltava.pl.ua/news/5171/”>http://www.poltava.pl.ua/news/5171/</a></p>
