---
title: Risk Factors
---
<%= partial "nav" %>
<!-- Add your site or application content here -->
<h1>фактори ризику</h1>
<h2>Немодифіковані фактори ризику</h2>
<p>Стать — дуже важливий немодифікований фактор ризику захворювань серця та судин. У молодому та середньому віці інфаркт міокарда значно частіше розвивається у чоловіків. Із старінням зростає вірогідність цього захворювання у жінок. Вони починають хворіти після менопаузи, оскільки зменшується вивільнення жіночих статевих гормонів (естрогенів), що захищають судини від розвитку атеросклерозу. У віці 65-84 років частота захворювань серцево-судинної системи серед чоловіків і жінок майже однакова.</p>
<p>Вік є наступним немодифікованим фактором ризику. Чим старшою є людина, тим більшою є загроза виникнення захворювання серцево-судинної системи.</p>
<p>Минають роки, ми старіємо і наше серце стає більш вразливим. Його стінки потовщуються, м’яз не може повністю розслаблятися, знижується скоротлива здатність серця. Водночас спостерігається зниження еластичності та ущільнення стінки судин. Саме тому хвороби серцево-судинної системи (ішемічна хвороба серця, артеріальна гіпертензія, порушення ритму) частіше зустрічаються в осіб старшого віку.</p>
<p><em>Пам’ятайте! Багато проблем зі здоров’ям у старшому віці можна уникнути за умови дотримання раціонального харчування та здорового способу життя.</em></p>
<p>Дослідження показали, що в осіб старшого віку, які регулярно виконують фізичні вправи, ризик смерті з причини серцевих захворювань значно менший порівняно з людьми, які ведуть малорухливий спосіб життя.</p>
<p><em>Пам’ятайте! Ніколи не пізно змінити свій спосіб життя на більш здоровий.</em></p>
<p>Обтяжена спадковість — ще один важливий немодифікований фактор ризику. Лікарі вже давно помітили, що певні види хвороб, у тому числі і серцево-судинні, носять сімейний характер. Іншими словами, проблема виникає ще задовго до народження людини.</p>
<p>Чим більше факторів ризику ви маєте — тим вищі у вас шанси захворіти. Але, зазвичай, наявність перерахованих вище немодифікованих чинників ризику є недостатньою для розвитку інфаркту міокарда. Як правило, безпосередньою причиною хвороби є дія якогось із модифікованих факторів. На щастя, на ці чинники ми можемо впливати. Уникаючи їх, ми значно знижуємо ризик розвитку захворювання. Завжди пам’ятайте про це!</p>
<h2>Модифіковані фактори ризику</h2>
<p>Куріння — займає одне з провідних місць серед модифікованих факторів ризику розвитку захворювань серцево-судинної системи. Небезпечним є також і пасивне куріння. На сьогодні відомо, що нікотин є не єдиною шкідливою речовиною, яка потрапляє в наш організм з тютюновим димом. Надзвичайно небезпечними є і важкі метали (хром, нікель, свинець та інші), які містяться в димі. Вони здатні накопичуватися в організмі і практично не виводяться з нього. Важкі метали є у всіх видах цигарок («легких» чи «важких»), незалежно від фірми виробника. Крім цього, тютюновий дим містить чадний газ, що погіршує транспортування кисню кров’ю.</p>
<h2>Чи шкідливий алкоголь?</h2>
<p>Результати ряду досліджень стверджують, що споживання малих доз алкоголю пов’язане зі зниженням частоти виникнення інфаркту міокарда та атеросклерозу. Проте залишається нез’ясованим той факт, чи це є чинник, який працює самостійно, чи він діє в парі з іншими, що знижують частоту серцево-судинних захворювань.</p>
<p>Відомо, що червоне вино не тільки зумовлює незначне зростання ліпопротеїдів високої щільності («добрих» жирів), але й містить поліфеноли — речовини, які мають протиатеросклеротичну дію. Тому вживання невеликої кількості червоного вина (не більше одного келиха за добу) може корисно впливати на серце та судини.<p>
<p>Малою дозою алкоголю на добу вважається: для чоловіків — 500 мл пива або 250 мл сухого вина, або 60 мл горілки; для жінок — удвічі менше. Споживання алкоголю в більшій кількості є небезпечним для здоров’я, оскільки збільшується ризик розвитку захворювань серця, гіпертонічної хвороби, інсульту, ушкоджується печінка тощо.</p>
<h2>У чому небезпека гіпертонічної хвороби?</h2>
</p>Неконтрольовані підвищення артеріального тиску є надзвичайно небезпечними. Вони несуть загрозу виникнення інфаркту міокарда та інсульту, а також сприяють прогресуванню серцевої недостатності.</p>
<p>Гіпертонічна хвороба є одним із найпоширеніших захворювань цивілізації. Зазвичай її виявляють випадково. Підвищення тиску часто не супроводжується жодними скаргами, або вони є неспецифічними: біль голови, неспокій, втомлюваність. Тому протягом довгого часу людина може і не здогадуватися про наявність у неї артеріальної гіпертензії.</p>
<p>Звідки ж береться підвищений артеріальний тиск? Його виникненню сприяє ряд чинників, а саме: надмірна маса тіла, зловживання алкоголем, мала фізична активність, неправильне харчування, стреси, побічна дія ліків, спадкова схильність. Вчасне виявлення артеріальної гіпертензії та своєчасний початок лікування — шанс зберегти добрий стан здоров’я і повноцінне життя.</p>
<p>Рівень тиску тісно пов’язаний з масою тіла. Багато хворих на артеріальну гіпертензію страждають ожирінням. Для нормалізації тиску їм інколи достатньо лише схуднути.</p>
<p>Підвищенню артеріального тиску сприяє кухонна сіль. Тому намагайтеся не досолювати їжу, не вживайте маринадів, консервованих продуктів та копченостей. У вказаних продуктах міститься до 90% прихованої солі, яку ми їмо.</p>
<p>Пам’ятайте! Внаслідок підвищення артеріального тиску можуть виникнути такі скарги:</p>
<ul>
<li>ранковий біль голови;</li>
<li>погіршення зору;</li>
<li>задишка під час фізичного навантаження;</li>
<li>задишка в лежачому положенні, серцебиття і аритмії;</li>
<li>набряки стоп і гомілок;</li>
<li>часте нічне сечовиділення;</li>
</ul>
<p>Отже будьте уважні і у разі появи таких скарг негайно зверніться до лікаря.</p>
<p>Нормальна маса тіла є важливим чинником, що зумовлює добрий загальний стан здоров’я. Навіть незначна надмірна маса збільшує ризик розвитку захворювань серця.</p>
<p>Причин надмірної маси тіла є багато, але найчастіше в цьому винні ми самі. Протягом останніх десятиліть значно зросло споживання жирів та цукру, що є прямою дорогою до ожиріння. Наші пращури їли лише натуральні продукти з великою кількістю клітковини і мали значно менше проблем із зайвою масою. Ми ж дедалі частіше споживаємо висококалорійні напівфабрикати.</p>
<p><em>Пам’ятайте! Важливе значення має не тільки склад їжі, але й характер харчування. Ми їмо нерегулярно, великими порціями, часто всього один — два рази на день.</em></p>
<p>Механізм розвитку ожиріння дуже простий. Коли ми багато їмо і мало рухаємося, тоді жиру накопичується чимраз більше. Як наслідок — збільшується маса нашого тіла.</p>
<p><em>Пам’ятайте! Коли ми товстішаємо, збільшується кількість жирових клітин, але, коли ми втрачаємо масу, їхня кількість не змінюється, і вони будуть терпляче чекати, доки ми знову перестанемо дотримуватись дієти. Тому варто зрозуміти, що зменшення маси тіла можна досягнути і утримати лише тоді, коли кардинально змінити спосіб життя і харчування.</em></p>
<p><em>Пам’ятайте! Зниження маси тіла на 10% зменшує ризик виникнення серцево-судинних захворювань на 20%</em></p>
<h2>Підвищення рівня холестерину у крові</h2>
<p>Холестерин — це жироподібна речовина, що життєво необхідна людині. Він входить до складу оболонок (мембран) усіх клітин організму. Багато холестерину містить нервова тканина. Він є джерелом для утворення багатьох гормонів. Для всіх цих потреб в організмі утворюється більш ніж достатньо холестерину. Однак, людина ще споживає його з їжею і часто в досить великій кількості.</p>

<p>Основним джерелом цієї речовини служать жирні тваринні продукти. За умови їх значного вмісту в раціоні харчування збільшується концентрація холестерину у крові і він з необхідного для організму людини друга перетворюється в смертельного ворога.</p>
<p>Справа в тому, що холестерин проникає у стінки кровоносних судин. Там він накопичується в атеросклеротичній бляшці, яка звужує просвіт судини й утруднює плин крові.</p>
<p>У результаті частина міокарда, що постачається цією судиною, залишається без кисню та поживних речовин — і відмирає. Якщо такий процес відбувається в серці, розвивається інфаркт міокарда, якщо в мозку — мозковий інсульт. Початок таким небезпечним захворюванням дає підвищений рівень холестерину (ХС).</p>
<p>На щастя, рівень холестерину у крові можна знизити. Для цього намагайтеся змінити свій спосіб життя: більше рухайтеся, відмовтеся від куріння, дотримуйтесь низькокалорійної дієти.</p>
<p>Основою всіх дієт, що сприяють зниженню холестерину, є зменшення споживання жирів тваринного походження (жирне м’ясо, субпродукти, вершкове масло, жирні молочні продукти, жирні сорти сиру, здобна випічка тощо). Замініть більшість тваринних жирів рослинними оліями: соняшниковою, маслиновою, кукурудзяною. З маргаринів вибирайте тільки м’які сорти (у баночках, а не в пачках).</p>
<p>Зверніть особливу увагу на регулярне споживання продуктів, що знижують рівень холестерину в організмі і збільшують його виведення. Вони містять розчинну клітковину і при варінні утворюють желеподібну масу. Це вівсяні пластівці (геркулес), яблука, сливи, різні ягоди. Регулярно вживайте бобові продукти (квасоля, горох).</p>
<p>Під час приготування їжі уникайте смаження, частіше відварюйте, тушкуйте, запікайте. Використовуйте посуд зі спеціальним покриттям, що не вимагає додавання жиру під час приготування їжі.</p>
<p>За умови ретельного дотримання такої дієти можна досягти зниження рівня холестерину у крові на 5-10%.</p>
<p>Якщо дотримання дієти протягом 6-8 тижнів не призведе до бажаного зниження рівня загального холестерину крові (менше 5 ммоль/л), а ризик розвитку захворювань, викликаних атеросклерозом, залишається високим, то лікар може запропонувати вам ліки, що знижують холестерин. Таких препаратів зараз багато. Однак пам’ятайте, що не можна займатися самолікуванням, наслухавшись реклам про чудодійні і безпечні харчові добавки.</p>
<p>Кардіологи всього світу дотримуються думки про те, що кожна людина після 32 років повинна знати свій рівень холестерину у крові (зробити лабораторний аналіз крові). Якщо холестерин підвищений, існує небезпека розвитку атеросклерозу і важких серцево-судинних захворювань.</p>
<h2>Стрес</h2>
<p>Стрес — це реакція організму на оточення. Він є свідомою, емоційною або фізіологічною реакцією людини на подразники, труднощі та небезпеку, що є у нашому житті.</p>
<ul>До типових проявів постійного стресу належать:
<li>поганий сон;</li>
<li>часте пробудження вночі;</li>
<li>сновидіння з кошмарами;</li>
<li>відчуття напруження м’язів та болю голови зранку після пробудження;</li>
<li>напружені стосунки з друзями чи співробітниками тощо.</li>
</ul>
<p>Стрес викликає в нашому організмі багато змін. Це проявляється прискоренням серцебиття, підвищенням артеріального тиску, збільшенням здатності крові до утворення тромбів — все це сприяє виникненню захворювань серця, а особливо інфаркту.</p>
<p>Якщо нам не вдається зняти напругу, організм виснажується і проявляється руйнівна дія стресу. Перший свій удар він наносить по найбільш вразливих наших органах — зокрема, по серцю.</p>
<p>Стійкість до стресів залежить від самої людини, від її темпераменту. Особи, що мають спокійний характер і є оптимістами, легше долають стреси порівняно з похмурими та песимістами. Самотні люди важче переносять різні психічні навантаження, ніж ті, які мають велику родину та багато друзів. Безперечно, багато залежить і від рівня освіченості та вміння розслаблятися, які набуваються з досвідом. Проте найважливішою все-таки є підтримка близьких людей.</p>
<h2>Професійна шкідливість</h2>
<p>Сьогодні все частіше говорять про шкідливий вплив на здоров’я чинників, з якими ми маємо контакт під час професійної діяльності. Нині доведено, що особливий вплив ці шкідливі фактори виявляють на молодий організм.</p>
<p>Відомо, що деякі шкідливі речовини (їх ще називають ксенобіотики) можуть уражати стінку судин і провокувати ранній розвиток інфаркту міокарда та інсульту. У людей, які тривало контактують з ксенобіотиками, зазвичай реєструють важчий перебіг захворювання.</p>
<p>У людини, яка перенесла інфаркт міокарда і знову повернулася на шкідливу роботу, збільшується вірогідність повторного епізоду захворювання.</p>
<p>Якщо у Вас шкідлива професія, то її необхідно змінити.</p>
<p><strong>Пам’ятайте, що здоров’я не купиш за гроші. Це найдорожча річ, яку можна легко втратити, але важко повернути</strong></p>